NET "p1_button" LOC = P51 | IOSTANDARD = LVTTL | PULLUP;
NET "p2_button" LOC = P41 | IOSTANDARD = LVTTL | PULLUP;
NET "start_button" LOC = P35 | IOSTANDARD = LVTTL | PULLUP;


NET "led_pos<0>" LOC = P78 | IOSTANDARD = LVTTL;
NET "led_pos<1>" LOC = P80 | IOSTANDARD = LVTTL;
NET "led_pos<2>" LOC = P82 | IOSTANDARD = LVTTL;
NET "led_pos<3>" LOC = P84 | IOSTANDARD = LVTTL;
NET "led_pos<4>" LOC = P87 | IOSTANDARD = LVTTL;
NET "led_pos<5>" LOC = P92 | IOSTANDARD = LVTTL;
NET "led_pos<6>" LOC = P94 | IOSTANDARD = LVTTL;
NET "led_pos<7>" LOC = P97 | IOSTANDARD = LVTTL;
NET "led_pos<8>" LOC = P99 | IOSTANDARD = LVTTL;
NET "led_pos<9>" LOC = P101 | IOSTANDARD = LVTTL;
NET "led_pos<10>" LOC = P104 | IOSTANDARD = LVTTL;
NET "led_pos<11>" LOC = P111 | IOSTANDARD = LVTTL;
NET "led_pos<12>" LOC = P114 | IOSTANDARD = LVTTL;
NET "led_pos<13>" LOC = P116 | IOSTANDARD = LVTTL;
NET "led_pos<14>" LOC = P118 | IOSTANDARD = LVTTL;
NET "led_pos<15>" LOC = P120 | IOSTANDARD = LVTTL;


NET "led_p1<0>" LOC = P75 | IOSTANDARD = LVTTL;
NET "led_p1<1>" LOC = P79 | IOSTANDARD = LVTTL;
NET "led_p1<2>" LOC = P81 | IOSTANDARD = LVTTL;

NET "led_p2<0>" LOC = P93 | IOSTANDARD = LVTTL;
NET "led_p2<1>" LOC = P95 | IOSTANDARD = LVTTL;
NET "led_p2<2>" LOC = P98 | IOSTANDARD = LVTTL;
